DB_HOST=localhost
DB_NAME=roadmap_manager
DB_USER=root
DB_PASS=

APP_URL=http://localhost
APP_ENV=development
APP_EDITION=enterprise

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@roadmap.local

LDAP_ENABLED=false
LDAP_HOST=ldap.forumsys.com
LDAP_PORT=389
LDAP_DN="cn=read-only-admin,dc=example,dc=com"
LDAP_PASS=password
LDAP_BASE_DN="dc=example,dc=com"
